:root{
    --titleFont: "Luckiest Guy";
    --subTitlesFont:"Patrick Hand SC";
    --redColor: rgb(182,28,28);
    --colorYellow:#FFD700;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.01cm solid black;
    height: 80px;;
}

header h2{
    color: white;
    font-family: var(--titleFont);
    font-size: 40px;
    padding: 30px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1em;
    
}

header nav li a{
    padding-right: 20px;
    color:  var(--colorYellow);
    font-size: 25px;
    font-family: var(--subTitlesFont);
    text-decoration: none;
}
header nav li a:hover{
    padding-right: 20px;
    color:  var(--redColor);
    font-size: 25px;
    font-family: var(--subTitlesFont);
    text-decoration: none;
}

body{
    background-color: black;
}
.premium{
    width: 100%;
    height: 400px;
    background-image:
    linear-gradient(rgba(0,0,0,0.5) 0%,rgba(0,0,0,.30) 100%),
    url(/AnimeFlix/imagenes/BLEACH\ TYBW.webp),
    url(/AnimeFlix/imagenes/Tokyo-Revengers.jpeg),
    url(/AnimeFlix/imagenes/boku.webp);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
      bottom right,
      center center,
      bottom left;
      background-size: 450px 400px ;
      box-shadow: inset 100px 400px 400px 200px rgba(0,0,0,0.65);
      
}
.premiumContent{
    padding-top: 50px;
    padding-left: 70px;
}
.premiumContent h2{
    color: coral;
    font-family: var(--titleFont);
    font-size: 50px;
}
.premiumContent button{
    color: var(--colorYellow);
    background-color:crimson;
    font-family: var(--subTitlesFont);
    font-size: 30px;
}
.premiumContent p{
    color: antiquewhite;
    width: 400px;
    font-family: var(--subTitlesFont);
    font-size: 20px;
}
.premiumAds{
    color: coral;
    font-family: var(--subTitlesFont);
    font-size: 50px;
    text-align: center;
}
.premiumAds2{
    display: flex;
    gap: 10em;
}
.premiumAds2 img{
    width: 500px;
    height: 300px;
}
.premiumAds2 ul{
    list-style:none;
    justify-content: space-between;  
}
.premiumAds2 ul li{
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: var(--subTitlesFont);
    width: 200px;
}

.lista2 i, .lista1 i{
    color: var(--colorYellow);
    font-size: 30px;
    align-items: center;
    width: 50px;
    justify-content: center;
    padding-left: 33px;
}
.premiumAds3{
    background-image: linear-gradient(rgba(0,0,0,0.5) 0%,rgba(0,0,0,.30) 100%), url(/AnimeFlix/imagenes/premiumImage2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    height: 500px;
    box-shadow: inset 300px 100px 200px rgba(0,0,0,1.8);
}
.premiumAds3 h3{
    color:coral;
    font-size: 80px;
    font-family: var(--subTitlesFont);
}
.premiumAds3 p{
    color: antiquewhite;
    font-size: 20px;
    font-family: var(--subTitlesFont);
    width: 400px;
    text-align: justify;
}
.premiumAds4{
    padding-left: 80px;
    padding-top: 20px;
}
.premiumAds5{
    display: flex;
}
.premiumAds5 .p1{
    color: coral;
    font-size: 75px;
    font-family: var(--subTitlesFont);
    padding-left: 100px;
}
.premiumAds5 .p1 i{
    padding-right: 20px;
}
.premiumAds5 .p2{
    color: white;
    font-size: 20px;
    font-family: var(--subTitlesFont);
    padding-left: 100px;
}
.premiumAds5 img{
    padding-right: 20px;
    width: 500px;
    padding-left: 100px;
    padding-top: 100px;
}
.plans{
    background-image: url(/AnimeFlix/imagenes/star\ background.jpeg);
    width: cover;
    height: 900px;
    box-shadow: inset 0px 100px 200px 100px rgba(0,0,0,1.0);
}
.plans h2{
    color: white;
    padding-top: 100px;
    text-align: center;
    font-family: var(--titleFont);
    font-size: 60px;
}
.planContainer{
    display: flex;
    gap: 3em;
    padding-left: 220px;
    text-align: center;   
}
.containerPlan1 img{
    width: 70px;
    height: 65px;
    left: 250px;
    position: absolute;
}
.containerPlan2 img{
    width: 70px;
    height: 65px;
    left: 600px;
    position: absolute;
}
.containerPlan3 img{
    width: 70px;
    height: 55px;
    left: 950px;
    position: absolute;
}

.containerPlan{
    display: flex;
}
.planContainer .plan1,
.planContainer .plan2, 
 .planContainer .plan3 {
    background-color: rgba(0,0, 0, 0.8);
    width: 300px;
    height: 500px;
    border-radius: 20px;
}

.planContainer .plan1 h3,
.planContainer .plan2 h3, 
 .planContainer .plan3 h3{
    color: var(--colorYellow);
    font-family: var(--subTitlesFont);
    font-size: 40px;
 }
.planContainer .plan1 .price, .plan2 .price, .plan3 .price{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: var(--subTitlesFont);
}
.planContainer .plan1 .taxes, .plan2 .taxes, .plan3 .taxes{
    color: whitesmoke;
    font-size: 10px;
}
.planContainer .plan1 button, .plan2 button, .plan3 button{
    background-color: var(--colorYellow);
    font-family: var(--subTitlesFont);
    color: black;
    border-radius: 10px;
    font-size: 20px;

}
.planContainer .plan1 .skip, .plan2 .skip, .plan3 .skip{
    color: white;
    font-size: 17px;
    font-family: var(--subTitlesFont);
}
.planContainer .plan1 .watch, .plan2 .watch, .plan3 .watch{
    color: white;
    font-size: 17px;
    font-family: var(--subTitlesFont);
}
.planContainer .plan1 .plus, .plan2 .plus, .plan3 .plus{
    color: white;
    font-size: 17px;
    font-family: var(--subTitlesFont);
}
.planContainer .plan1 .stream, .plan2 .stream, .plan3 .stream{
    color: white;
    font-size: 17px;
    font-family: var(--subTitlesFont);
}
footer{
    background-color:var(--redColor);
    margin-bottom: 0;
    padding:0 px;
}
.p7{
    color: var(--colorYellow);
    padding-left: 20px;
    font-family: var(--subTitlesFont);
    font-size: 30px;
}
.footerLists{
    display: flex;
    gap: 12em;
}
.footerLists ul{
    list-style: none;
}
.footerLists ul li{
    text-decoration: none;
    color: var(--colorYellow);
}
.footerLists ul a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-family: var(--subTitlesFont);
    font-size: 20px;
}
footer img{
    width: 200px;
    height: 150px;
}



